.home {
  width: 100vw;
  height: 100vh;
}

.text {
  display: flex;
}

a:link, a:visited, a:active {
    color: #b66655;
    text-decoration:none;
}

.hola {
  position: absolute;
  bottom: 5%;
  left: 5%;
  padding: 10vh;
}

@media (min-width: 768px) {
  .hola {
    width: 40%;
  }
}

h1 {
  font-weight: normal;
  animation: fadeIn 4s ease;
  margin: 0px;
}

p {
  font-family: 'Lora', serif;
  margin: 5px;
  animation: fadeIn 9.5s ease;
  transition: color 0.5s linear 0.2s;
  cursor: pointer;
}

p:hover {
  font-family: 'Lora', serif;
  color: #d9907e;
  transition: color 0.5s linear 0.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
}

.menu-link, h1 {
  cursor: pointer;
  transition: opacity 1.3s;
}

.menu-link:hover {
  color: #d9907e;
}

.menu-link.clicked, h1.clicked {
  opacity: 0;
  pointer-events: none;
}